@import "common";

.addShortcut{
  height: 36px;
  width: 100%;
  border: none;
  background-color: transparent;
  border-top: 1px solid rgba(130,157,182,0.3);
}

.addShortcutTextButton{
  position: absolute;
  cursor: pointer;
  width: inherit;
  height: inherit;
  background-color: white;
  border: none;
  color: #829DB6;
  transition: 0.5s;
}

.inputs{
  display: flex;
  width: inherit;
  height: inherit;
  border: none;
  transition: 0.5s;
  align-items: center;
}

.shortFormInput{
  width: 35px;
  padding-left: 15px;
  font-size: 16px;
  border: inherit;
}

.longFormInput{
  width: 78px;
  border: inherit;
  font-size: 16px;
  color: #829DB6;
}

.longFormInput::placeholder{
  color: #829DB6;
  font-size: 14px;
}

.addShortcutButton{
  @extend iconButton;
  background-image: url("../assets/plus.png");
  height: 12px;
  width: 12px;
}
