@import "common";

.searchBar{
  margin-bottom: 100px;
  border-bottom: 1px solid white;
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 30px;
  position: relative;
}

#searchButton{
  @extend iconButton;
  background-image: url('../assets/searchIcon.png');
  margin-right: 10px;
  margin-bottom: 3px;
}

#searchInput{
  background-color: transparent;
  border: none;
  flex-grow: 1;
  color: white;
  font-size: 18px;
}

#searchInput::placeholder{
  color: rgba(255,255,255,0.7);
}

#shortcutsButton{
  @extend iconButton;
  background-image: url('../assets/shortcutsIcon.png');
  margin-bottom: 3px;
}
