#shortcuts {
  background-color: white;
  position: absolute;
  left: 355px;
  border-radius: 10px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  z-index: 3;
  width: 150px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.shortcutTitle{
  font-weight: bold;
  font-size: 18px;
  padding: 5px 42px;
}

.shortcutList{
  max-height: 100px;
  overflow: auto;
}
