@import "common";

.todoListOuterContainer{
  margin-right: 20px;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

.todoList{
  overflow: hidden;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  max-width: 350px;
  max-height: 400px;
}

.todolistHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  font-size: 18px;
}

.todolistName{
  color: white;
  margin-left: 10px;
  font-weight: bold;
  white-space: nowrap;
  outline: 0;
}

.newTodoInput{
  border: none;
  background-color: #E5E5E5;
  padding: 7px 10px;
  min-height: 18px;
  height: 18px;
  resize: vertical;
  max-height: 100px;
}

.newTodoInput:focus{
  outline: none;
}

.todos{
  list-style-type: none;
  max-height: 300px;
  overflow: auto;
  margin-top: 0;
  padding-left: 0;
  padding-top: 5px;
}

.successfulTitleEdit{
  margin-top: 3px;
  margin-left: 5px;
  min-width: 17px;
  min-height: 17px;
  background-image: url("../assets/successfulEditIconWhite.png");
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity 0.5s;
  flex-grow: 1;
}

.menuButton{
  @extend iconButton;
  background-image: url("../assets/menuIcon.png");
  margin-right: 10px;
}
