@import "common";

.todo{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
}

.todo:hover .deleteTodoButton{
  transition: 0.3s ease-in;
  opacity: 1;
}

.deleteTodoButton{
  @extend iconButton;
  background-image: url("../assets/deleteTodoIcon.png");
  height: 12px;
  width: 12px;
  opacity: 0;
  margin-top: 7px;
}

.todoName{
  position: relative;
  flex-grow: 1;
  line-height: 27px;
  min-height: 25px;
  font-family: Arial, serif;
  margin-left: 5px;
  font-size: 16px;
  transition: 0.1s ease-in-out;
  outline: 0;
}

.done{
  position: relative;
  min-width: 20px;
  min-height: 20px;
  color: black;
  border: 1px solid gray;
  border-radius: 10px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  &::before {
    position: absolute;
    content: '';
    display: block;
    top: 3px;
    left: 6px;
    width: 4px;
    height: 8px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    opacity: 0;
    transform: rotate(45deg);
  }
  &:checked {
    color: white;
    border-color: #13b716;
    background: #13b716;
    &::before {
      opacity: 1;
    }
  }
}
